on early-init
    # Ensure some kernel boot defaults are set
    write /proc/sys/net/ipv6/conf/all/optimistic_dad 1
    write /proc/sys/net/ipv6/conf/all/use_optimistic 1

on init
    # Process group parameters that differ from AOSP init.rc
    write /dev/cpuctl/cpu.rt_runtime_us 950000

    mkdir /dev/cpuctl/apps
    chown system system /dev/cpuctl/apps/tasks
    chmod 0666 /dev/cpuctl/apps/tasks
    write /dev/cpuctl/apps/cpu.shares 1024
    write /dev/cpuctl/apps/cpu.rt_runtime_us 800000
    write /dev/cpuctl/apps/cpu.rt_period_us 1000000

    mkdir /dev/cpuctl/apps/bg_non_interactive
    chown system system /dev/cpuctl/apps/bg_non_interactive/tasks
    chmod 0666 /dev/cpuctl/apps/bg_non_interactive/tasks
    # 5.0 %
    write /dev/cpuctl/apps/bg_non_interactive/cpu.shares 104
    write /dev/cpuctl/apps/bg_non_interactive/cpu.rt_runtime_us 700000
    write /dev/cpuctl/apps/bg_non_interactive/cpu.rt_period_us 1000000

    # reset_reason
    chown system system /proc/reset_reason
    chmod 0600 /proc/reset_reason

on post-fs-data
    # sec_efs_file
    mkdir /efs/sec_efs 0775 radio system
    
    # Latin SSMS feature
    mkdir /efs/SMS 0775 radio system

    # PMK permission
    mkdir /efs/mc 0770 radio system
    chown radio system /efs/mc
    chmod 0770 /efs/mc
    chown radio system /efs/mc/mc.dat
    chmod 0640 /efs/mc/mc.dat

    # hatp
    mkdir /data/misc/radio/hatp 0755 radio system

    # Samsung Pay
    mkdir /efs/pfw_data 0760 spay spay

    # NFC
    mkdir /data/nfc 0700 nfc nfc
    mkdir /data/nfc/param 0700 nfc nfc
    mkdir /data/bcmnfc 0700 nfc nfc
    mkdir /data/bcmnfc/param 0700 nfc nfc

    # hatp
    mkdir /data/misc/radio/hatp 0755 radio system

    # h2k		
    chmod 0644 /efs/redata.bin
    chown radio radio /efs/h2k.dat
    chmod 0644 /efs/h2k.dat

    # icd
    check_icd
    chown system system /dev/icd
    chmod 0644 /dev/icd
    chown system system /dev/icdr
    chmod 0644 /dev/icdr
    chown system system /dev/tzic

    #SideSync
    chown system system /dev/android_ssusbcon
    chmod 0660 /dev/android_ssusbcon

    # MTP permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system mtp /dev/usb_mtp_gadget
    mkdir /dev/socket/mtp 0770 system mtp

# [ SEC_MM_DRM
    # OMA DB directory creation
    mkdir /data/system/databases 0775
    chown system system /data/system/databases
    chmod 0775 /data/system/databases

    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added for Playready DRM Support
    mkdir /data/data/.drm 0775
    chown drm system /data/data/.drm
    chmod 0775 /data/data/.drm
    mkdir /data/data/.drm/.playready 0775
    chown drm system /data/data/.drm/.playready
    chmod 0775 /data/data/.drm/.playready

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm

    restorecon -R /efs
# ]

on boot
    # for BT MAC address
    mkdir /efs/bluetooth 0775 radio system
    # if already exist
    chown radio system /efs/bluetooth
    chmod 0775 /efs/bluetooth

    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_enter_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_enter_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_enter_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_enter_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_exit_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_exit_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_exit_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_exit_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/mode
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/mode
    chown system system /sys/devices/system/cpu/cpufreq/interactive/enforced_mode
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/enforced_mode
    chown system system /sys/devices/system/cpu/cpufreq/interactive/param_index
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/param_index
    chown system system /sys/devices/system/cpu/cpufreq/interactive/cpu_util
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/cpu_util

    # Change permission for dvfshelper
    chown radio system /sys/power/cpufreq_table
    chmod 0664 /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0664 /sys/power/cpufreq_min_limit
    chown radio system /sys/power/cpufreq_max_limit
    chmod 0664 /sys/power/cpufreq_max_limit

    # NFC_NXP
    setprop ro.nfc.port "I2C"
    chmod 0660 /dev/pn547
    chown nfc nfc /dev/pn547

    # NFC_BROADCOM
    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x

    # NFC_SLSI
    chmod 0660 /dev/sec-nfc
    chown nfc nfc /dev/sec-nfc

    # KNOX KAP
    chown system system /dev/knox_kap
    chmod 0660 /dev/knox_kap

    # mobicore
    mkdir /data/app/mcRegistry 0775 system system
    chmod 0700 /dev/mobicore
    chmod 0666 /dev/mobicore-user
    chmod 0660 /dev/s5p-smem
    chown system system /dev/mobicore
    chown radio system /dev/mobicore-user
    chown system system /dev/s5p-smem

    # Define TCP buffer sizes for various networks
    #   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,704512,4096,16384,110208		
    setprop net.tcp.buffersize.wifi    524288,1048576,4525824,524288,1048576,4525824
    setprop net.tcp.buffersize.lte     524288,1048576,2560000,524288,1048576,2560000
    setprop net.tcp.buffersize.umts    4094,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.hspa    4094,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hsupa   4094,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hsdpa   4094,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hspap   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,30000,30000,4096,8760,11680
    setprop net.tcp.buffersize.evdo    4094,87380,262144,4096,16384,262144
    # Define default initial receive window size in segments.
    setprop net.tcp.default_init_rwnd 60
    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  1048576
    write /proc/sys/net/core/wmem_max  2097152

    # Switch Device
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/uart_sel
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/apo_factory

    # GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/checked_sleepGPIO

    # permission for CHARGING
    chown system radio /sys/class/power_supply/battery/batt_reset_soc
    chown system radio /sys/class/power_supply/battery/batt_slate_mode
    chown system radio /sys/class/power_supply/battery/factory_mode
    chown system radio /sys/class/power_supply/battery/siop_level
    chown system radio /sys/class/power_supply/battery/wc_enable
    chown system radio /sys/class/power_supply/battery/update
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
    chown system radio /sys/class/power_supply/battery/talk_wcdma
    chown system radio /sys/class/power_supply/battery/talk_gsm
    chown system radio /sys/class/power_supply/battery/call
    chown system radio /sys/class/power_supply/battery/data_call
    chown system radio /sys/class/power_supply/battery/gps
    chown system radio /sys/class/power_supply/battery/wifi
    chown system radio /sys/class/power_supply/battery/lte
    chown system radio /sys/class/power_supply/battery/lcd
    chown system radio /sys/class/power_supply/ps/status
    chmod 0664 /sys/class/power_supply/ps/status
    chmod 0664 /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_high_current_usb
    chmod 0664 /sys/class/power_supply/battery/batt_high_current_usb

# usb detect
    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root

# OTG Test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0664 /sys/class/host_notify/usb_otg/booster

    write /sys/block/mmcblk0/queue/scheduler noop
    write /sys/block/sda/queue/scheduler noop

on charger
    chmod 0664 /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_temp_table

service scs /system/bin/scs
    class main
    user system
    group system
    oneshot

service epmd /system/bin/epmd
    class main
    socket epm stream 0660 system system
    socket ppm stream 0660 system system
    ioprio be 2

# icd
service icd /system/bin/icd
    class main
    user system
    group system log
    onrestart check_icd
    oneshot

# MobiCore startup
service mobicore /system/bin/mcDriverDaemon -r /system/app/FFFFFFFF000000000000000000000001.drbin -r /system/app/mcRegistry/ffffffffd0000000000000000000000a.tlbin -r /system/app/mcRegistry/ffffffffd00000000000000000000016.tlbin
    class core
    user system
    group system

# deferred initcall
service sec-sh /system/bin/sh /system/etc/init.sec.boot.sh
    class main
    user root
    oneshot

# icd
on property:init.svc.media=restarting
    check_icd
    start icd

# Sensorhub service
service sensorhubservice /system/bin/sensorhubservice
    class main
    user system
    group input

# for Bluetooth Tethering
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot
# end of BT
